html {
    box-sizing: border-box;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.568);
    /* overflow-x: hidden; */
}

.container {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 800px;
}

.card__items {
    width: 15rem;
    height: 8rem;
    background-color: #f7f1e3;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.field {
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 2.5rem 1rem;
    border: none;
}